In [1]:
# Import libraries
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [7]:
# Download ticker prices for the last 2 years
ticker = ["AAPL", "NVDA", "META", "MSFT"]

data = yf.download(ticker, period="2y", auto_adjust=True)
data.tail

[*********************100%***********************]  4 of 4 completed

<bound method NDFrame.tail of Price            Close                                            High  \
Ticker            AAPL        META        MSFT        NVDA        AAPL
Date
2023-11-08  181.115982  317.820770  357.807831   46.546570  181.670548
2023-11-09  180.640656  318.585999  355.335175   46.922344  182.334060
2023-11-10  184.835129  326.755646  364.181793   48.306526  185.003715
2023-11-13  183.248550  327.173096  361.236237   48.591362  184.468220
2023-11-14  185.866394  334.249481  364.772888   49.626743  186.530767
...                ...         ...         ...         ...         ...
2025-11-03  269.049988  637.710022  517.030029  206.880005  270.850006
2025-11-04  270.040009  627.320007  514.330017  198.690002  271.489990
2025-11-05  270.140015  635.950012  507.160004  195.210007  271.700012
2025-11-06  269.769989  618.940002  497.100006  188.080002  273.399994
2025-11-07  268.470001  621.710022  496.820007  188.149994  272.290009

Price                                                  Low              \
Ticker            META        MSFT        NVDA        AAPL        META
Date
2023-11-08  319.361262  358.467867   46.839397  179.828589  312.950798
2023-11-09  322.193763  359.374312   48.201589  180.046469  316.846721
2023-11-10  327.083641  364.605402   48.443447  181.989228  317.502690
2023-11-13  330.293842  362.999671   49.087072  182.663507  323.704488
2023-11-14  336.028523  366.427969   49.804640  184.735965  331.287728
...                ...         ...         ...         ...         ...
2025-11-03  659.330017  524.960022  211.339996  266.250000  636.179993
2025-11-04  641.739990  515.549988  203.970001  267.619995  626.010010
2025-11-05  642.229980  514.830017  202.919998  266.929993  626.539978
2025-11-06  636.000000  505.700012  197.619995  267.890015  618.000000
2025-11-07  622.130005  499.380005  188.320007  266.769989  601.200012

Price                                     Open                          \
Ticker            MSFT        NVDA        AAPL        META        MSFT
Date
2023-11-08  355.197149   45.940924  180.581227  316.190834  356.310378
2023-11-09  355.010057   46.722461  181.185324  317.462947  356.921258
2023-11-10  355.709465   47.255148  182.425536  317.979760  356.123213
2023-11-13  360.467818   48.070669  184.259991  324.201425  362.753382
2023-11-14  361.896256   49.011109  186.124206  332.490337  365.501922
...                ...         ...         ...         ...         ...
2025-11-03  514.590027  205.559998  270.420013  656.000000  519.809998
2025-11-04  507.839996  197.929993  268.329987  628.039978  511.760010
2025-11-05  506.579987  194.649994  268.609985  632.309998  513.299988
2025-11-06  495.809998  186.380005  267.890015  635.849976  505.660004
2025-11-07  493.250000  178.910004  269.799988  616.489990  496.950012

Price                     Volume
Ticker            NVDA      AAPL      META      MSFT       NVDA
Date
2023-11-08   46.072846  49340300  13609700  26767800  346719000
2023-11-09   47.439038  53763500  16103100  24847300  540496000
2023-11-10   47.472019  66133400  19096200  28042100  421245000
2023-11-13   48.291539  43627500  16908900  19986500  384136000
2023-11-14   49.650731  60108400  17179400  27683900  416954000
...                ...       ...       ...       ...        ...
2025-11-03  208.080002  50194600  33003600  22374700  180267300
2025-11-04  203.000000  49274800  27356600  20958700  188919300
2025-11-05  198.770004  43683100  20219900  23024300  171350300
2025-11-06  196.419998  51204000  23628800  27406500  223029800
2025-11-07  184.899994  48203600  29868200  23980600  264204000

[502 rows x 20 columns]>

In [17]:
# Filter closing prices for all tickers

prices = data["Close"]
prices

Ticker            AAPL        META        MSFT        NVDA
Date
2023-11-08  181.115982  317.820770  357.807831   46.546570
2023-11-09  180.640656  318.585999  355.335175   46.922344
2023-11-10  184.835129  326.755646  364.181793   48.306526
2023-11-13  183.248550  327.173096  361.236237   48.591362
2023-11-14  185.866394  334.249481  364.772888   49.626743
...                ...         ...         ...         ...
2025-11-03  269.049988  637.710022  517.030029  206.880005
2025-11-04  270.040009  627.320007  514.330017  198.690002
2025-11-05  270.140015  635.950012  507.160004  195.210007
2025-11-06  269.769989  618.940002  497.100006  188.080002
2025-11-07  268.470001  621.710022  496.820007  188.149994

[502 rows x 4 columns]

In [16]:
# Computing returns of each ticker 

rets = prices.pct_change().dropna()
rets

Ticker          AAPL      META      MSFT      NVDA
Date
2023-11-09 -0.002625  0.002408 -0.006911  0.008073
2023-11-10  0.023220  0.025643  0.024897  0.029499
2023-11-13 -0.008584  0.001278 -0.008088  0.005896
2023-11-14  0.014286  0.021629  0.009790  0.021308
2023-11-15  0.003041 -0.010704  0.000406 -0.015466
...              ...       ...       ...       ...
2025-11-03 -0.004882 -0.016411 -0.001506  0.021680
2025-11-04  0.003680 -0.016293 -0.005222 -0.039588
2025-11-05  0.000370  0.013757 -0.013940 -0.017515
2025-11-06 -0.001370 -0.026747 -0.019836 -0.036525
2025-11-07 -0.004819  0.004475 -0.000563  0.000372

[501 rows x 4 columns]

In [18]:
# Plot returns for each ticker